<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width", initial-scale=1">
	<title>Tutorials To Do's</title>
	  
	<link rel="stylesheet" href="assets/css/tutorial_style.css" type="text/css" />
</head>
<body>
	<div style = "postion:absolute; top:0; height: 40px;">
		<h3>This is the elegant header</h3>
	</div>

	{{{body}}} 
	{{!-- must have 3 brackets so hbs doesn't escape html(>&gt)--}}
 
	<div style = "postion:absolute; bottom:0; height: 40px;">
		<h3>This is the elegant footer that isn't a footer despite position:absolute; bottom:0;</h3>
	</div>
<!-- 	<script type="text/javascript" src="script.js"></script>
 -->	
<!-- 	<script src="./path/to/jquery.webticker.min.js"></script>
 -->
</body>
</html>